@using Blog_Page.Models
@model BlogPost


    <h3>  </h3>  <h1>Author : @Model.Author </h1>
 
  <hr>
  <main>
    <p>@Model.Content</p>
  </main>
  <hr>
  <footer>
    <h3>Comments:</h3>
   
     <form asp-controller="BlogPost" asp-action="PostPage"  method="post"  >
      <textarea rows="4" cols="50" name = "Text" placeholder="Leave a comment"></textarea>
      <br><br>
      <input type="hidden" name="Id" value="@Model.Id">
      <input type="submit"  value="Submit" >
    </form>


       @await Component.InvokeAsync("PageContentGenerator",new {postid = Model.Id})

        @*@foreach (var comment in Model.comments)
        {
            <h4>@comment.Author </h4>
            <h5>@comment.Date</h5>
            <p> @comment.Text </p>
                <form>
                 <input type="hidden" name="Id" value="@Model.blogPost.Id">
                 <input type="hidden" name="Author" value="@comment.Author">
                 <button formmethod="post" formaction="/BlogPost/Replies" type="submit" name="commentId" value="@comment.Id" class="goto shap">ответить</button>
              </form>
        }*@

    


   
  </footer>

